{% extends "base.html" %}

{% block content %}

<script>
    document.title = "ASP - Brown & Brown Inc.";
</script>

<section>
    <header class="main">
        <h1>Investment Thesis for Brown and Brown Inc. (BRO)</h1>
    </header>

    <div class="main">
        <div>
            <p>August 1, 2024</p>
        </div>

        <div>
            <h2>Profile:</h2>
        </div>

        <div>
            <h2>Market Overview:</h2>
            <p>The Insurance Brokerage Sector has been experiencing significant growth and transformation in 2024,
                driven by increasing demand for risk management solutions and digital innovation. Here's an overview of
                key players:</p>

            <ul>
                <li><strong>Brown & Brown (BRO):</strong> Market Cap: $28.7 billion as of August 1, 2024. UP 22%
                    year-to-date, outperforming the broader market.</li>
                </li>
            </ul>


        </div>
        <div>

            <h3>Acquisition Activities:</h3>

            <p><strong>Overall - $13 Million Annual Revenue of 10 Acquisitions during this quarter</strong></p>

            <h3>Some Prominent Acquisitions:</h3>
            <ul>
                <li><strong>June 7, 2024:</strong> Acquired the assets of McNamara Company.</li>
            </ul>
        </div>


        <div>
            <h2>Investment Strategy:</h2>
            <p>My investment strategy for BRO focuses on capitalizing on medium price appreciation.</p>

            <ul>
                <li><strong>Profit Objective:</strong> Target a 15% - 25% price increase in the next 3 months based on
                    technical analysis.</li>
                <li><strong>Stop-Loss:</strong> Implement a stop-loss order at 6% below the purchase price to limit
                    potential losses.</li>
                <li><strong>Retest:</strong> Make sure to re-evaluate possibilities for further growth and appreciation
                    after the first target is met.</li>
            </ul>

            <p><em class="red">Note:</em> Retesting is done with all ASP Portfolio Stocks, you can find updates in the
                inbox on the
                sidebar.</p>

        </div>

        <div>
            <h2>Rationale and Justification:</h2>
            <p><strong>Financial Performance:</strong></p>
        </div>

        <div>
            <h2>Risks:</h2>
            <h3>Acquisition Integration Risks:</h3>
            <div>
                <h2>Conclusion:</h2>
                <p></p>

            </div>
        </div>
</section>

{% endblock %}