{% extends "base.html" %} {% block content %}

<script>
	document.title = "ASP - All Articles";
</script>

<style>
	.posts article {
		min-height: 450px;
		/* Ensure all articles have the same height */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.posts article .actions {
		margin-top: auto;
		/* Align buttons at the bottom */
		text-align: center;
		/* Optional: Center buttons horizontally */
	}

	@media screen and (max-width: 768px) {
		.posts article {
			min-height: 350px;
			/* Adjust height for smaller screens */
		}
	}
</style>

<!-- Content -->
<section>
	<header class="main">
		<h1>All Articles</h1>
	</header>

	<p>
	</p>
	<section>

		<div class="posts">
			<article>
				<a href="/danaher-dhr" class="image"><img src="{{ url_for('static', filename='images/dhr-sidebar.jpg') }}"
						alt="" /></a>
				<h3>Danaher (DHR) Investment Idea</h3>
				<p class="front-page-p">
					Danaher Corporation is a global life sciences and diagnostics innovator. The Company operates
					through three business segments: Biotechnology, Life Sciences and Diagnostics. The Biotechnology
					segment includes the bioprocessing and discovery and medical businesses and offers a broad range
					of equipment...
				</p>
				<ul class="actions">
					<li><a href="/asp-portfolio" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="/b-and-b-bro" class="image"><img src="{{ url_for('static', filename='images/b-and-b-sidebar.jpg') }}"
						alt="" /></a>
				<h3>Brown and Brown Inc (BRO) Investment Idea</h3>
				<p class="front-page-p">
					Brown & Brown, Inc. is one of the largest independent insurance brokerage firms in the United
					States, headquartered in Daytona Beach and Tampa, Florida. Founded in 1939, the company has
					grown to become the sixth largest independent insurance brokerage...
				</p>
				<ul class="actions">
					<li><a href="/b-and-b-bro" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="/palo-alto-panw" class="image"><img src="{{ url_for('static', filename='images/panw-sidebar.jpg') }}"
						alt="" /></a>
				<h3>Palo Alto (PANW) Investment Idea</h3>
				<p class="front-page-p">
					Palo Alto Networks is a major cybersecurity company that provides comprehensive security
					platforms to protect organizations from various digital threats. Their offerings include
					next-gen firewalls, cloud security solutions, endpoint protection, and AI-powered threat
					detection and prevention tools...
				</p>
				<ul class="actions">
					<li><a href="/palo-alto-panw" class="button">More</a></li>
				</ul>
			</article>
			<!-- <article>
				<a href="#" class="image"><img src="static/images/asp-wall-street.jpg" alt="" /></a>
				<h3>Training</h3>
				<p class="front-page-p">
					The Training section offers short blogs covering a range of topics to boost financial
					literacy and help first-time traders improve their skills. It's designed to provide valuable insights
					and tips for anyone looking to grow their knowledge in the trading world.
				</p>
				<p class="red"> Coming Soon!</p>
				<ul class="actions">
					<li><a href="#" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="/home" class="image"><img src="static/images/asp-paper-trade.jpg" alt="" /></a>
				<h3>Paper Trading</h3>
				<p class="front-page-p">
					Our paper trading system lets you buy and sell stocks with real-time data using an intuitive
					platform packed with charts and technical tools. It’s perfect for practicing your trading
					skills and testing strategies without any financial risk, giving you the confidence to refine
					your approach before entering the real market.
				</p>
				<ul class="actions">
					<li><a href="/home" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="/QTI" class="image"><img src="static/images/asp-QTI.jpg" alt="" /></a>
				<h3>Quick Trade Ideas</h3>
				<p class="front-page-p">
					The Quick Trades page features short-term, higher-risk opportunities in shorts, stocks, and
					options, tailored for those seeking fast market action. These trades don’t come with the
					detailed analysis found in our regular portfolio, so be sure to do your own research before
					diving in.
				</p>
				<ul class="actions">
					<li><a href="/QTI" class="button">More</a></li>
				</ul>
			</article>
		</div> -->
	</section>

</section>

{% endblock %}