{% extends "base.html" %} {% block content %}

<script>
	document.title = "ASP - All Articles";
</script>

<style>
	.posts article {
		min-height: 450px;
		/* Ensure all articles have the same height */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.posts article .actions {
		margin-top: auto;
		/* Align buttons at the bottom */
		text-align: center;
		/* Optional: Center buttons horizontally */
	}

	@media screen and (max-width: 768px) {
		.posts article {
			min-height: 350px;
			/* Adjust height for smaller screens */
		}
	}
</style>

<!-- Content -->
<section>
	<header class="main">
		<h1>All Articles</h1>
	</header>

	<p>
	</p>
	<section>

		<div class="posts">
			<article>
				<a href="/tesla-tsla" class="image"><img src="{{ url_for('static', filename='images/tesla-sidebar.jpg') }}"
						alt="" /></a>
				<h3>Tesla (TSLA) Investment Idea</h3>
				<p class="front-page-p">
					Tesla, Inc. designs, develops, manufactures, sells and leases high-performance fully electric vehicles and
           energy generation and storage systems, and offers services related to its products. The Company's segments
           include automotive, and energy generation and storage. The automotive segment includes the design, development,
           manufacturing, sales and leasing of high-performance fully electric vehicles...
				</p>
				<ul class="actions">
					<li><a href="/tesla-tsla" class="button">More</a></li>
				</ul>
			</article>
			<article>
				<a href="/cibc-cm" class="image"><img src="{{ url_for('static', filename='images/cibc-sidebar.jpg') }}"
						alt="" /></a>
				<h3>CIBC (CM) Investment Idea</h3>
				<p class="front-page-p">
					CIBC is a Canada-based financial institution. They have 13 million personal banking, business, public sector
					and institutional clients. Across personal and business banking, commercial banking and wealth management, and
					capital markets businesses, the Company offers a full range of advice, solutions and services through its
					digital banking network and locations across Canada, US and around the world...
				</p>
				<ul class="actions">
					<li><a href="/cibc-cm" class="button">More</a></li>
				</ul>
			</article>

			<article>
				<a href="/danaher-dhr" class="image"><img src="{{ url_for('static', filename='images/dhr-sidebar.jpg') }}"
						alt="" /></a>
				<h3>Danaher (DHR) Investment Idea</h3>
				<p class="front-page-p">
					Danaher Corporation is a global life sciences and diagnostics innovator. The Company operates
					through three business segments: Biotechnology, Life Sciences and Diagnostics. The Biotechnology
					segment includes the bioprocessing and discovery and medical businesses and offers a broad range
					of equipment...
				</p>
				<ul class="actions">
					<li><a href="/danaher-dhr" class="button">More</a></li>
				</ul>
			</article>

			<article>
				<a href="/nasdaq-ndaq" class="image"><img src="{{ url_for('static', filename='images/nasdaq-sidebar.jpg') }}"
						alt="" /></a>
				<h3>Nasdaq Inc. (NDAQ) Invest. Idea</h3>
				<p class="front-page-p">
					Nasdaq, Inc. is a global technology company serving corporate clients, investment managers, banks, brokers,
					and exchange operators as they navigate and interact with the global capital markets and the financial system.
					The Company manages, operates, and provides its products and services in three business segments: Capital Access
					Platforms, Financial Technology and Market Services...
				</p>
				<ul class="actions">
					<li><a href="/nasdaq-ndaq" class="button">More</a></li>
				</ul>
			</article>

			<article>
				<a href="/brookefield-bam" class="image"><img
						src="{{ url_for('static', filename='images/brookefield-sidebar.jpg') }}" alt="" /></a>
				<h3>Brookefield Asset Management (BAM) Investment Idea</h3>
				<p class="front-page-p">
					Brookfield Asset Management Ltd. is primarily engaged in providing alternative asset management services. The
					Company provides its services through an ownership interest in an alternative asset management business, which
					is carried on by Brookfield Asset Management Inc. (Brookfield) and its subsidiaries...
				</p>
				<ul class="actions">
					<li><a href="/brookefield-bam" class="button">More</a></li>
				</ul>
			</article>

			<article>
				<a href="/b-and-b-bro" class="image"><img src="{{ url_for('static', filename='images/b-and-b-sidebar.jpg') }}"
						alt="" /></a>
				<h3>Brown and Brown Inc (BRO) Investment Idea</h3>
				<p class="front-page-p">
					Brown & Brown, Inc. is one of the largest independent insurance brokerage firms in the United
					States, headquartered in Daytona Beach and Tampa, Florida. Founded in 1939, the company has
					grown to become the sixth largest independent insurance brokerage...
				</p>
				<ul class="actions">
					<li><a href="/b-and-b-bro" class="button">More</a></li>
				</ul>
			</article>

			<article>
				<a href="/palo-alto-panw" class="image"><img src="{{ url_for('static', filename='images/panw-sidebar.jpg') }}"
						alt="" /></a>
				<h3>Palo Alto (PANW) Investment Idea</h3>
				<p class="front-page-p">
					Palo Alto Networks is a major cybersecurity company that provides comprehensive security
					platforms to protect organizations from various digital threats. Their offerings include
					next-gen firewalls, cloud security solutions, endpoint protection, and AI-powered threat
					detection and prevention tools...
				</p>
				<ul class="actions">
					<li><a href="/palo-alto-panw" class="button">More</a></li>
				</ul>
			</article>
	</section>

</section>

{% endblock %}