{% extends "base.html" %}

{% block content %}

<script>
  document.title = "ASP - Canadian Imperial Bank of Commerce (CM)";
</script>

<section>
  <header class="main">
    <h1>Investment Thesis for Canadian Imperial Bank of Commerce (CM)</h1>
  </header>

  <div class="main">
    <div>
      <p>September 21, 2024</p>
    </div>

    <div>
      <h2>Profile:</h2>
      <p>
        Canadian Imperial Bank of Commerce is a Canada-based financial institution. The Company has 13 million personal
        banking, business, public sector and institutional clients. Across personal and business banking, commercial
        banking and wealth management, and capital markets businesses, the Company offers a full range of advice,
        solutions and services through its digital banking network and locations across Canada, with offices in the
        United States and around the world. Its personal banking offers products and services, including bank accounts,
        credit cards, mortgages, lending, investments, insurance, ways to bank and smart advice. Its business banking
        products and services include accounts, credit cards, borrowing, investing, cash management, smart business
        advice and healthcare. It also offers various business solution, including Managing Cash Flow, Financing Your
        Business and Day-to-Day Banking.</p>
    </div>

    <div>
      <h2>Executive Summary:</h2>
      <p>CIBC is a major bank in the North American banking
        industry, and is the 5th Largest in Canada. CIBC Is currently trading at CAD 55.43 per share and a steady YTD return 
        of approximately 8%. Despite the current economic issues such as
        rising interest rates, inflation, and regulatory pressure, CIBC maintains positive performance metrics. Not to
        mention its exteremly strong dividend yield of 6.2%</p>
    </div>

    <div>
      <h2>Market Overview:</h2>
      <p>The financial services industry, particularly banks, is being significantly impacted by global macroeconomic
        conditions currently. Central banks all over the globe, including the U.S. Federal Reserve and the Bank of Canada,
        have continued tightening monetary policies to curb persistent inflation, which has pushed up interest rates to
        multi-year highs. While these conditions have been harrowing around consumer debt, they have created an
        environment where institutional banks are benefitting from higher net interest margins (NIMs) due to
        increased loan rates.</p>

      <p>Compared to thr other major bankss, including Toronto-Dominion Bank (TD) and Royal Bank of Canada (RY), CIBC has
        shown modest but steady growth. Over the past 12 months, CIBC’s stock returned around 8%, while TD and RY posted
        YTD returns of 6.5% and 7%, respectively, as of mid-September 2024.</p>

      <ul>
        <li><strong>CIBC (CM):</strong> YTD return 8%, Dividend Yield 6.2%, P/E Ratio: 9.8</li>
        <li><strong>TD Bank (TD):</strong> YTD return 6.5%, Dividend Yield 4.6%, P/E Ratio: 10.3</li>
        <li><strong>Royal Bank of Canada (RY):</strong> YTD return 7%, Dividend Yield 4.5%, P/E Ratio: 11.2</li>
      </ul>

      <p>CIBC’s dividend yield stands out as one of the highest among major Canadian banks, making it very
        attractive to income-oriented investors. While its P/E ratio is slightly lower than its competitors, I believe that this
        reflects a more conservative valuation relative to its earnings, indicating huge potential upside if they meets its
        earnings growth targets.</p>
    </div>

    <div>
      <h2>Key Growth Drivers:</h2>
      <h3>a) U.S. Expansion Strategy:</h3>
      <p>CIBC has been increasingly focused on expanding its presence in the U.S. banking market, which currently
        contributes to about 20% of its revenue. Their acquisition of The PrivateBank in 2017 was the beginning
        of its U.S. growth strategy, and since then, CIBC has steadily increased its exposure to the U.S. market,
        mostly in commercial and wealth management sectors.</p>

      <p>The U.S. market provides higher growth opportunities compared to Canada’s saturated banking industry. Over the
        next few years, CIBC plans to further expand its U.S. operations, taking advantage of higher loan demand,
        stronger GDP growth, and the potential for higher profit margins.</p>

      <h3>b) Digital Transformation and Efficiency Initiatives:</h3>
      <p>CIBC has been making significant investments in its digital infrastructure to modernize itself. The bank’s focus on digital 
        banking has allowed it to reduce operational costs and
        improve efficiency. This digital transformation has also enabled CIBC to compete more effectively with fintech
        organizaitons, attract tech-savvy younger customers, and offer a seamless online and mobile banking experience.</p>

      <p>As of Q3 2024, digital banking penetration at CIBC reached 75%, up from 70% in 2023. This trend is expected to
        continue, helping the bank to streamline its operations and improve its cost-to-income ratio, which currently
        stands at 53%.</p>
    </div>

    <div>
      <h2>Rationale and Justification:</h2>
      <p><strong>Financials:</strong></p>
      <p>As of Q3 2024, CIBC reported strong earnings, with a net income of CAD 1.68 billion, a 4.3% increase compared
        to the same period last year. The bank's total revenue for the quarter stood at CAD 5.68 billion, reflecting
        steady growth across its core divisions.</p>

      <ul>
        <li>Net Interest Margin (NIM): 2.4% (Q3 2024), up from 2.1% in Q3 2023.</li>
        <li>Earnings per Share (EPS): CAD 3.81 for Q3 2024, up 5% Y/Y.</li>
        <li>Return on Equity (ROE): 15.2%, one of the highest among Canadian banks.</li>
      </ul>

      <div>
        <h2>Investment Strategy:</h2>
        <p>My investment strategy for CIBC focuses on capitalizing on medium-term price appreciation.</p>
  
        <ul>
          <li><strong>Profit Objective:</strong> Target a 10 - 15% price increase in the next 3-4 months.</li>

          <li><strong>Stop-Loss:</strong> Implement a stop-loss order at 6% below the purchase price to limit potential
            losses.</li>
          <li><strong>Retest:</strong> Re-evaluate growth possibilities after the first target is met to identify further
            opportunities for appreciation.</li>
        </ul>
  
        <p><em class="red">Note:</em> Retesting is done with all ASP Portfolio Stocks; updates can be found in the inbox
          on the sidebar.</p>
      </div>
  
    </div>

    <div>
      <h2>Risks:</h2>
      <p>Despite strong financials and growth outlook, CIBC faces a few risks that could impact its strong growth:</p>
      <ul>
        <li><strong>Economic Risks:</strong> Uncertain interest rates, persistent inflation, and the potential for an
          economic slowdown pose significant risks. An economic recession would lead to
          high credit losses and a virtually no loan demand. I'm not going to go in-depth about the risks of a recession but I do believe that as the
          fed continues to control inflation CIBC will only stand to gain. </li>

        <li><strong>Canadian Housiung Market:</strong> CIBC has massive exposure to the Canadian housing market,
          which has shown signs of cooling due to higher mortgage rates. A significant downturn in the housing market
          will negatively impact its loan portfolio however I believe the effects of this will be minimal and investors will push
          any pullback back to normal levels.</li>
      </ul>
    </div>
    
    <div>
      <h2>Conclusion:</h2>
      <p>CIBC and its stable earnings, growth strategies, and digital transformation,
         are well-positioned for future growth. With a strong dividend yield of 6.2%, coupled with great valuation metrics, I believe that CIBC is well set for steady, solid growth in for the next 3-4 months at the very least.</p>

    </div>
  </div>
</section>

{% endblock %}