{% extends "base.html" %}

{% block content %}

<script>
  document.title = "ASP - Nasdaq, Inc. (NDAQ)";
</script>

<section>
  <header class="main">
    <h1>Investment Thesis for Nasdaq, Inc. (NDAQ)</h1>
  </header>

  <div class="main">
    <div>
      <p>August 9, 2024</p>
    </div>

    <div>
      <h2>Profile:</h2>
      <p>
        Nasdaq, Inc. is a global technology company serving corporate clients, investment managers, banks, brokers, and
        exchange operators as they navigate and interact with the global capital markets and the financial system. The
        Company manages, operates, and provides its products and services in three business segments: Capital Access
        Platforms, Financial Technology and Market Services. The Company's Capital Access Platforms segment includes
        Data & Listing Services, Index and Workflow & Insights. The Company's Financial Technology segment comprises of
        Financial Crime Management Technology, Regulatory Technology and Capital Markets Technology solutions. The
        Company's Market Services segment operates multiple exchanges and other marketplace facilities across several
        asset classes, including derivatives, commodities, cash equity, debt, structured products, and exchange-traded
        products (ETPs). The Market Services segment also provides clearing, settlement, and central depository
        services.</p>
    </div>

    <div>
      <h2>Executive Summary:</h2>
      <p>NDAQ operates one of the most prominent stock exchanges
        globally and provides a range of financial products and services, including market technology, data analytics,
        and clearing house solutions. Despite facing market volatility and macroeconomic headwinds, Nasdaq's diversified
        revenue streams, continuous growth in market services, and strategic acquisitions signal the company well for
        future growth. At the same time, technical indicators suggest a favorable entry point for long-term investors.
      </p>
    </div>

    <div>
      <h2>Market Overview:</h2>
      <p>Nasdaq operates within the Financial Services sector and competes with other global exchanges, such as
        Intercontinental Exchange (ICE) and CME Group (CME). The broader financial services
        industry has experienced mixed performance, largely due to macroeconomic uncertainties such as rising interest
        rates, inflation, and potential recession risks. However, within the sector, exchanges and market services have
        remained resilient due to sustained trading activity, even amid volatility.</p>
      <p><strong>Stock Comparison (YTD Performance):</strong><br>
        Nasdaq (NDAQ): +5.3% YTD<br>
        Intercontinental Exchange (ICE): +9.1% YTD<br>
        CME Group (CME): +7.8% YTD<br>
        While NDAQ's performance slightly lags its competitors, the company’s year-over-year revenue growth of 4% suggests a stable upward trend. Nasdaq’s diversified revenue streams, which include listings, information
        services, and technology solutions, are less sensitive to trading volume declines than its competitors, making
        it a relatively safer play.</p>
    </div>

    <div>
      <h2>Key Growth Drivers:</h2>
      <p><strong>Diversification of Revenue Streams:</strong> Nasdaq’s business model has become increasingly
        diversified. While historically reliant on market services (trading and listing fees), the company now generates
        approximately 70% of its revenues from non-trading sources, including analytics, data services, and market
        technology solutions. This makes the company less susceptible to market volatility.</p>
      <p><strong>Market Technology:</strong> Nasdaq’s technology solutions are used by over 130 market operators
        globally. This segment grew by 7% year-over-year in supported by increasing demand for trading
        platforms and technology infrastructure from international exchanges.</p>
      <p><strong>Expansion into ESG and Indexing Services:</strong> Nasdaq’s ESG initiatives and indexing business
        are crucial for future growth. Nasdaq manages more than 450 indices globally, including the popular
        Nasdaq-100, with assets under management in Nasdaq index-linked products surpassing $380 billion. Nasdaq’s ESG
        product suite includes tools for assessing corporate governance and sustainability practices, addressing the
        growing demand from investors focused on environmental and social factors.</p>
    </div>

    <div>
      <h2>Rationale and Justification:</h2>

      <p><strong>Financials:</strong>Nasdaq's revenue for 2023 period was $5.8 billion, with a gross
        profit of $3.6 billion and an operating income of $1.93 billion. The net income stood at $1.1 billion, reflecting
        the company's ability to generate significant profits from its diversified revenue streams. The company's asset utilization ratio of 18.77%
        indicates that Nasdaq is efficient in generating revenue from its assets. Nasdaq also had a 29% increase in
        Index business revenue and a 17% growth in SaaS revenue. The integration of the Adenza acquisition has also
        contributed significantly to the company's performance, with debt paydown progressing faster than planned and
        leverage reduced to 3.9x. </p>

      <p><strong>Stock Valuation:</strong> Nasdaq is trading at a P/E ratio of approximately 39.13x. This is slightly
        above its sector but justified by its higher growth potential due to technological advancements and
        acquisitions. Despite the high debt levels, Nasdaq has a cash and short-term investments balance of $590
        million, which, while not out of the ordinary, is sufficient to cover short-term obligations.</p>

    </div>

    <div>
      <h2>Investment Strategy:</h2>
      <p>My investment strategy for NDAQ focuses on capitalizing on medium-long term price appreciation.</p>

      <ul>
        <li><strong>Profit Objective:</strong> Target a moderate but safe 10 - 15% price increase in the next 2 months.</li>

        <li><strong>Stop-Loss:</strong> Implement a safe stop-loss order at 6%</li>

        <li><strong>Retest:</strong> Re-evaluate growth possibilities after the first target is met to identify further
          opportunities for appreciation.</li>
      </ul>

      <p><em class="red">Note:</em> Retesting is done with all ASP Portfolio Stocks; updates can be found in the inbox
        on the sidebar.</p>
    </div>

    <div>
      <h2>Conclusion:</h2>
      <p>Nasdaq driven by its excellent revenue model coupled with the company’s strong financials is another stock set
        for sustained growth mostly through its non-trading revenue sections and advancements in its technology. I believe that given the stock’s current valuation and strong future prospects, NDAQ will see consistent forward growth.</p>
    </div>
  </div>
</section>

{% endblock %}