<!-- /templates/components/sidebar.html -->

<style>
    #sidebar nav#menu:nth-of-type(2) .opener+ul {
        background-color: #000000;
        padding: 0;
        border-radius: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border: 2px solid #fff;
        text-align: center;
    }

    #sidebar nav#menu:nth-of-type(2) .opener+ul li a {
        color: #fff;
        padding: 6px 8px;
        text-decoration: none;
        display: block;
        font-size: 0.8em;
        border-bottom: 2px solid #333;
        border-radius: 10px;
        transition: background-color 0.3s;
    }

    #sidebar nav#menu:nth-of-type(2) .opener+ul li a:hover {
        background-color: #4444445e;
        color: #fff !important;
    }
</style>

<div id="sidebar" class="inactive">
    <div class="inner">
        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/stock-viewer">Stock Viewer</a></li>
                <li>
                    <span class="opener">Articles</span>
                    <ul>
                        <li><a href="/cibc-cm">CIBC (CM) Investment Idea</a></li>
                        <li><a href="/danaher-dhr">Danaher (DHR) Investment Idea</a></li>
                        <li><a href="/nasdaq-ndaq">Nasdaq Inc. (NDAQ) Investment Idea</a></li>
                        <li><a href="/brookefield-bam">Brookefield Asset Management (BAM) Investment Idea</a></li>
                        <li><a href="/b-and-b-bro">Brown and Brown Inc (BRO) Investment Idea</a></li>
                        <li><a href="/palo-alto-panw">Palo Alto (PANW) Investment Idea</a></li>
                        <li><a href="/articles">All Articles...</a></li>
                    </ul>
                </li>
                <li><a href="/asp-portfolio">ASP Portfolio</a></li>
                <li>
                    <span class="opener">Training</span>
                    <ul>
                        <li><a href="#" style="color: red;">Coming Soon!</a></li>
                    </ul>
                </li>
                <li><a href="/home">Paper Trading</a></li>
                <li><a href="/QTI">Quick Trade Ideas</a></li>
            </ul>
        </nav>

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Recent Articles</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <a href="/danaher-dhr" class="image"><img
                            src="{{ url_for('static', filename='images/dhr-sidebar.jpg') }}" alt="" /></a>
                    <p>Danaher Corporation is a global life sciences and diagnostics innovator. The Company operates
                        through three business segments: Biotechnology, Life Sciences and Diagnostics. The Biotechnology
                        segment includes the bioprocessing and discovery and medical businesses and offers a broad range
                        of equipment...</p>
                </article>
                <article>
                    <a href="/cibc-cm" class="image"><img
                            src="{{ url_for('static', filename='images/cibc-sidebar.jpg') }}" alt="" /></a>
                    <p>CIBC is a Canada-based financial institution. They have 13 million personal banking, business, public sector
                        and institutional clients. Across personal and business banking, commercial banking and wealth management, and
                        capital markets businesses, the Company offers a full range of advice, solutions and services through its
                        digital banking network and locations across Canada, US and around the world...</p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="/articles" class="button">More</a></li>
            </ul>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Recent Changes</h2>
            </header>
            <ul>
                {% if g.recent_changes %}
                {% for change in g.recent_changes[:5] %}
                <li>
                    <span class="opener">{{ change.date }}</span>
                    <ul>
                        {% for detail in change.changes %}
                        <li><a>{{ detail }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
                {% else %}
                <li>No recent changes available.</li>
                {% endif %}
                <li><a href="/portfolio-updates">More...</a></li>
            </ul>
        </nav>
        <script>
            const openers = document.querySelectorAll('.opener');

            openers.forEach(opener => {
                opener.addEventListener('click', () => {
                    const dropdown = opener.nextElementSibling;
                    dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
                });
            });
        </script>


        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>Have thoughts or suggestions about our stock pick service? We're always looking to improve and would
                appreciate hearing from you. Your insights help us refine our offerings and ensure we're providing the
                best possible experience.</p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">support@aspfinances.com</a></li>
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; ASP. All rights reserved.</p>
        </footer>
    </div>
</div>